@import 'tailwindcss';
@tailwind utilities;

body {
	margin: 0;
	overflow: hidden;
	touch-action: none;
    user-select: none;
}

@keyframes pixelate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes ship-pulse {
	0% {
		filter: drop-shadow(0 0 5px #00f0ff);
	}
	50% {
		filter: drop-shadow(0 0 15px #00f0ff);
	}
	100% {
		filter: drop-shadow(0 0 5px #00f0ff);
	}
}

@keyframes enemy-pulse {
	0% {
		filter: drop-shadow(0 0 5px #ff0000);
	}
	50% {
		filter: drop-shadow(0 0 15px #ff0000);
	}
	100% {
		filter: drop-shadow(0 0 5px #ff0000);
	}
}

@keyframes explosion {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

.pixel-animation {
	animation: pixelate 0.5s infinite;
}

.ship-pulse {
	animation: ship-pulse 2s infinite;
}

.enemy-pulse {
	animation: enemy-pulse 2s infinite;
}

.explosion {
	animation: explosion 0.5s forwards;
}
